
<h1>New Post:</h1>
	<form>
		<textarea rows='10' class='row' name='text'  id='text'></textarea>
		<div class='bottom row'>
		Name:<input type='text' name='name'>
		<button type='submit'>submit</button>
		</div>
	</form>
	<h1>All Posts:</h1>
	
	<div class='post row'>
		<p> </p>
		<sub> <!-- insert date here--></sub>
			

			<div class='post_child'> <!--comments-->
				<p class='comment'> </p>
				<sub><!-- insert date here--></sub>
			</div>

		<div class='post_child'><!--new comment-->
			<form>
				<textarea class='post_child' name='comment' rows='1'></textarea>
				<div>
				Name:<input type='text' name='name_comment'>
				<button class='default' type='submit'>submit</button>
				</div>
			</form>
		</div>
	</div>
<style>
#text{
	width:40%;
	margin-left:25%;

}

.bottom{
	margin-left:57%;
}

.post{
	width:40%;
	margin-left:25%;
	font-size:1em;
}

.comment{
	font-size:0.8em;
}

.post_child{
	width:100%;
}


</style>
