
  <style>
 header {background: darkseagreen;color: white; width: 100%; margin: 0%}

 .residents{
  display: {{display}};
}
  </style>
  <h1 style="text-align:center;padding:2%;">&hearts; Subletter &hearts;</h1>
</header>

<article class="article">
  <h1>Post your listing</h1>
  <p>Fill out the following information about your seblet space.</p><br>
</article>

<head>
<style>
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: opacity;
}

.flex-item {
    background-color: opacity;
    width: 50%;
    height: 50%;
    margin: 10px;
}
</style>
</head>

<div class="flex-container">
  <div class="flex-item">
  <form ng-submit="append(resident)">
<select ng-model="resident.ros">
  <option>suite mate</option>
  <option>room mate</option>
</select>
<label> age</label><input type="text" ng-model="resident.age">
<select ng-model="resident.gender">
<option>male</option>
<option>female</option>
<option>other</option>
</select>
<button type="submit">add resident</button>
</form>
<form ng-submit="create(post)">
Subletter:<br>
<input type="text" name="name" ng-model="post.owner"><br>
Address:<br>
<input type="text" name="address1" ng-model="post.address1"><br>
<input type="text" name="address2" ng-model="post.address2"><br>

City:<br>
<input type="text" name="city" ng-model="post.city"><br>
State:<br>
<input type="state" name="state" ng-model="post.state"><br>
Zipcode:<br>
<input type="text" name="zipcode" ng-model="post.zip"><br>
Email:<br>
<input type="text" name="email" ng-model="post.email"><br>
Phone:<br>
<input type="text" name="phone" ng-model="post.phone"><br><br>





<b>Pets:</b><br>
<input type="radio" name="pets" ng-true-value="true" ng-false-value="false">Allowed<br>


<b>Appliances:</b><br>
<input type="checkbox" ng-model="post.wifi" ng-true-value="true" ng-false-value="false">Wifi<br>
<input type="checkbox" ng-model="post.fridge" ng-true-value="true" ng-false-value="false">Fridge<br>
<input type="checkbox" ng-model="post.parking" ng-true-value="true" ng-false-value="false">Parking<br>
<input type="checkbox" ng-model="post.washer" ng-true-value="true" ng-false-value="false">Washer<br>
Move In Date<input type="date" ng-model="post.movein"><br>
Move Out Date<input type="date" ng-model="post.moveout">
<br><br>

Price:<input type="text" ng-model="post.price"><br>

Guests:<input type="text" ng-model="post.guests"><br>

<b>Short Description: </b><br><textarea name="description" value="about your space..." rows="50" cols="50" ng-model="post.description"><br><br></textarea>

<br><br><label class="label"><button type="submit">submit</button></label>

</form>
</div>
</div>
<div ng-repeat="each in current_residents track by $index" class="residents">
<b>Other residents:</b><br>
<p>Suite mate or Room mate: {{each.ros}}</p>
<p>age: {{each.age}} </p>
<p>gender: {{each.gender}}</p>
</div>




