<b>Appliances:</b><br>
<input type="checkbox" name="wifi" value="wifi">Wifi<br>
<input type="checkbox" name="fridge" value="fridge">Fridge<br>
<input type="checkbox" name="parking" value="parking">Parking<br>
<input type="checkbox" name="washer" value="washer">Washer<br>
<input type="checkbox" name="other" value="other">Other: <input type="text" name="other"><br><br>
</div>
</div>

<b>Short Description: <b><br><input type="text" name="description" value="about your space..." size="50"><br><br>

<form action="action_page.php">
<b>Other residents:</b><br>
<input type="radio" name="suitemate" value="suitemate">Suitemates: <input type="text" name="suitemates">
<input type="checkbox" name="roommate" value="roommate">Roommates: <input type="text" name="roommate">
</form>

<br><br><label class="label"><input type="submit" value="Submit"></label>
</form>

</body>
</html>
