
<h1 class='log_in_header'>Log In</h1>
  <form class='log_in_boxes' ng-submit="login(user)">
    Email:<input type="text" ng-model="user.email">
    Password:<input type="text" ng-model="user.password">
    <button class='default' type='submit'>Log In</button>
  </form>
 <div>{{loginerrors}}</div>
  <h1 class='log_in_header'>Register</h1>
  <form class='log_in_boxes' ng-submit="register(new)">
    Email:<input type="text" ng-model="new.email" >
    Password:<input type="text" ng-model="new.password">
    <button class='default' type='submit'>Register</button>
  </form>
  <div>{{registererrors}}</div>
<style>
.log_in_boxes{
  padding:2%;
  margin-left: 30%;

}

.log_in_boxes input{
  display:block;
  width:60%;
}

.log_in_boxes button{
  display:block;
  width:20%;
  margin-top:2%;
}

.log_in_header{
  text-align: center;
}
</style>