
<h1 class='log_in_header'>Log In</h1>
  <form class='log_in_boxes'>
    Username:<input type="text" >
    Password:<input type="text" >
    <button class='default' type='submit'>Log In</button>
  </form>
  <h1 class='log_in_header'>Register</h1>
  <form class='log_in_boxes'>
    Username:<input type="text" >
    Password:<input type="text" >
    First Name:<input type="text" >
    Last Name:<input type="text" >
    <p>Birthdate</p>
    Month:<input type="text" >
    Day:<input type="text" >
    Year:<input type="text" >
    <button class='default' type='submit'>Register</button>
  </form>
<style>
.log_in_boxes{
  padding:2%;
  margin-left: 30%;

}

.log_in_boxes input{
  display:block;
  width:60%;
}

.log_in_boxes button{
  display:block;
  width:20%;
  margin-top:2%;
}

.log_in_header{
  text-align: center;
}
</style>