
  <style>
 header {background: darkseagreen;color: white; width: 100%; margin: 0%}
  </style>
  <h1 style="text-align:center;padding:2%;">&hearts; Subletter &hearts;</h1>
</header>

<body>
  <h2><i>Listings</i></h2>

<style>
  .listings {
  background: mintcream;
  border: 5px solid darkseagreen;
  border-radius: 10px;
  }
</style>


<div class="listings">
<style>
table {
    border-collapse: collapse; color: opacity;
}

table, td, th {
    border: 1px solid opacity;
}
</style>
</head>

<body>
<table>
  <tr>
    <th style="align:left; padding:2%">(insert picture)
</th>
    <th style="align:left; padding:2%">
Price: <br>
Address: <br>
</th>
  </tr>
</table>
</div>


</div>




